# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dhcp_server/node_modules/
log_orchestrator/node_modules/
dist
release
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
dhcp_server/package-lock.json
log_orchestrator/package-lock.json

dhcp_server/dhcp_server.log
dhcp_server/ecu_dhcp.log
dhcp_server/leases.json
dhcp_server/dist

uds/uds.spec
uds/dist
uds/build
uds/venv

log_orchestrator/dist